<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
    <title>QR Code</title>
</head>

<body>
    <br><br>
    <div class="container">
        <h2>Código QR generado:</h2>
        <div 
            class="card" 
            style="
                width: 10cm; 
                height: 5cm;
                display: flex;
                justify-content: center;
                align-items: center;">
            <div class="card-body">
                <h5 class="card-title">Información</h5>
                <p class="card-text">ID: <%= qr_info.ItemCode %></p>
                <p class="card-text">Nombre: <%= qr_info.ItemName %></p>
            </div>
        </div>
        <br>
        <div 
            class="card print-card" 
            style="
                width: 10cm; 
                height: 5cm;
                display: flex;
                justify-content: center;
                align-items: center;">
            <img 
                class="card-img-top" 
                src=<%= qr_code %> 
                alt="QR Code" 
                style="
                    object-fit: contain; 
                    max-width: 90%; 
                    max-height: 90%;">
        </div>
        <br>
        <div class="btn-group" role="group">
            <a href="/" type="button" class="btn btn-primary">Volver</a>
            <a href="<%= qr_code %>" download="qrcode.png" class="text-white btn btn-primary">Guardar</a>
            <a onclick="imprimirContenido()" class="text-white btn btn-primary">Imprimir</a>
        </div>
    </div>

    <script>
        function imprimirContenido() {
            var contenido = document.querySelector('.print-card').innerHTML;
            var ventanaImpresion = window.open('', '_blank', 'width=600,height=600');
            ventanaImpresion.document.open();
            ventanaImpresion.document.write('<html><head><title>Contenido Imprimible</title></head><body>' + contenido + '</body></html>');
            ventanaImpresion.document.close();
            ventanaImpresion.print();
        }
    </script>    
</body>

</html>
